<div>
    imageBaseUrl: <input type="text" style="width: 90%;" [(ngModel)]="imageBaseUrl" /><br />
    serverHost: <input type="text" style="width: 90%;" [(ngModel)]="serverHost" /><br />
    Access key: <input type="text" [(ngModel)]="accessKey" /> Max pending: <input type="text" [(ngModel)]="maxPending" />
    <button (click)="load()">Load</button>
    <button (click)="verified()">Submit Verified</button>
  </div>

  <p>Total pending: {{totalPending}}</p>

  <div *ngFor="let phrase of phrases">
    <p>{{ phrase.phrase }} <button (click)="remove(phrase)">Remove from Pending</button></p>
    <img *ngFor="let image of phrase.base64Images; let i = index" [src]="image | safeHtml" alt="{{phrase.phrase}}"
         (click)="onImageClick(phrase.phrase, i)"
         [class.image-selected]="selectedImage.has(phrase.phrase + imageKeySeparator + i)"
    />
  </div>
